/***************************TAG SELECTORS************************/
body {
    background-color: #aacfcf;
}

h1,
h3 {
    color: #fde2e2;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ffb6b6;
    border-width: 6px;
    width: 5%;
}


/***************************CLASS SELECTORS************************/
.light_Header {
    color: #ffb6b6;
}

.dark_Header {
    color: #679b9b;
}

.link:hover {
    color: #3b6978;
    font-size: 20px;
}

/***************************ID SELECTORS************************/
@font-face {
    font-family: 'Rolanstine';
    src: url('Fonts/Rolanstine.ttf');
}

#heading {
    font-family: 'Rolanstine';
    font-size: 80px;
}