/*Tag Selectors*/
body {
    background-color: #f4f4f4;
    margin: 0;
}

/*Class Selectors*/
.nav-bar-container {
    overflow: scroll;
    background-color: #8566aa;
    width: 100%;
    height: 50px;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-bar-text-about {
    text-decoration: none;
    font-family: Typola;
    color: black;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 280px;
    margin: 15px auto;
}

.nav-bar-text-projects {
    text-decoration: none;
    font-family: Typola;
    color: black;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 150px;
    margin: 15px auto;
}

.nav-bar-text-the-now {
    text-decoration: none;
    font-family: Typola;
    color: black;
    font-size: 25px;
    display: inline-block;
    position: absolute;
    right: 20px;
    margin: 15px auto;
}

.nav-bar-text a:hover {
    color: white;
}

.nav-bar-text a.active {
    color: #8ec6c5;
    opacity: 3.0;
}

.title-container {
    color: #8ec6c5;
    font-family: 'Typola';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.title-margin {
    margin-bottom: 5px;
    margin-top: 10px;
}

hr.shadeEffect {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8ec6c5 inset;
}

.intro-container {
    text-align: center;
    font-family: Typola;
    font-size: 20px;
    width: 100%;
    height: 400px;
}

.intro-container-about {
    width: 500px;
    height: 300px;
    line-height: 1.5;
    position: absolute;
    left: 400px;
    margin-top: 0;
}

.avatar-pic {
    height: 170px;
    width: 160px;
    margin-top: 100px;
}

.skills-container {
    font-family: Typola;
    font-size: 20px;
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
    height: 500px;
    width: 100%;
}

.skills-container-about {
    color: black;
    width: 500px;
    height: 300px;
    line-height: 1.5;
    position: absolute;
    left: 400px;
    margin-top: 10px;
    margin-bottom: 200px;
}

.icon-container {
    margin-top: 90px;
}

.icon-size {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}

.contact-container {
    font-family: Typola;
    font-size: 20px;
    text-align: center;
    height: 500px;
    width: 100%;
    position: absolute;
    margin-top: 10px;
    margin-bottom: 50px;

}

.contact-container-about {
    color: black;
    line-height: 1.5;
    position: absolute;
    width: 500px;
    height: 300px;
    margin-left: 400px;
    margin-top: 20px;
}

.footer {
    position: relative;
    background-color: #8566aa;
    opacity: 0.7;
    text-align: center;
    font-family: Typola;
    color: black;
    height: 50px;
    width: 100%;
    top: 600px;
    bottom: 0;
    padding-top: 10px;
}

.footer-icons {
    height: 30px;
    width: 30px;
    float: left;
    left: 20px;
    margin-left: 15px;
    margin-top: 5px;
}

/*Id Selectors*/
#title-name {
    /*"I'm Melanie" text.*/
    color: #6983aa;
    margin-top: 0;
    font-family: Aussie;
    font-size: 80px;
}

#skills-heading {
    font-family: Aussie;
    font-size: 60px;
    color: #8566aa;
    margin-top: 0;
    margin-bottom: 0;
}

#intro-heading {
    font-family: Aussie;
    font-size: 60px;
    color: #8566aa;
    margin-top: 0;
    margin-bottom: 0;
}

#contact-heading {
    font-family: Aussie;
    font-size: 60px;
    color: #8566aa;
    margin-top: 0;
    margin-bottom: 0;
}

#footer-heading {
    margin-right: 85px;
}

/*Fonts*/
@font-face {
    font-family: Aussie;
    src: url('Fonts/Australia\ Script.ttf');
}

@font-face {
    font-family: Typola;
    src: url('Fonts/TRUE\ TYPOLA.ttf');
}

.size {
    height: 200px;
    width: 200px;
}

.fBox {
    background-color: blue;
    /* border: 10px; */
    /* display: inline-block;
    position: relative; */
    /* padding: 20px; */
    /* border-color: black;
    border-style: solid; */
    position: absolute;
    left: 200px;
    top: 200px;
}

.sBox {
    background-color: red;
    /* border-color: black;
    border: 20px;
    border-style: solid; */
    /* display: inline-block;
    position: relative;
    left: 200px; */
    position: absolute;
    left: 400px;
    top: 400px;
}

.tBox {
    background-color: yellow;
    /* display: inline-block;
    position: relative;
    right: 209px; */
    /* border-color: black;
    border: 10px;
    border-style: solid; */
    position: absolute;

}

/* .wavyText {
    text-decoration-line: underline;
    text-decoration-style: wavy;
} */

.bottom-cloud {
    position: absolute;
}

.top-cloud {
    position: absolute;
    right: 250px;
}